.maincontent{
  height: 100%;
  width: 100%;
}

.wrapper-main-info{
  background: url('../images/content/wrapperMain.png') center center/cover no-repeat;
  width: 100%;
  margin-bottom: 151px;
}

.wrapper-skills{
  width: 100%;
  height: 100%;
  margin-bottom: 264px;
}

.wrapper-communication{
  background: url('../images/content/Budda.png') center center/cover no-repeat;
  width: 100%;
  height: 100%;
}