section.fullscreen-section.home#home
  .container
    header.header
      .header__logo
        a(href="#").header__logo-link сд
      include ./nav.pug
      +nav('nav',['Главная', 'Обо мне', 'Навыки', 'Работы', 'Отзывы', 'Связаться'])
      .header__social
        include ./socials.pug
        +socials('social',['insta', 'vk', 'github'], 'header')
    .home__content
      p.content__desc Личный сайт веб разработчика
      h1.content__title Ставрова Дарья
      .content__scroll
        span.scroll__text Скролл
        +icon('scroll', 'img-scroll')
