section.parallax
  .parallax__layer(data-speed='0.1')
    +image('content/Sky.png', 'parallax__img')
  .parallax__layer(data-speed='0.25')
    +image('content/Mountain.png', 'parallax__img')
  .parallax__layer(data-speed='0.35')
    +image('content/Baloon.png', 'parallax__img')
  .parallax__layer(data-speed='0.38')
    +image('content/Cloud.png', 'parallax__img')
  .parallax__layer(data-speed='0.45')
    +image('content/Man.png', 'parallax__img')
  .parallax__layer(data-speed='0.48')
    +image('content/Mountain1.png', 'parallax__img')
  .parallax__layer(data-speed='0.50')
    +image('content/White.png', 'parallax__img')