section.section.profit#profit
  .container
    .profit__wrap
      .profit__image
          +image('content/Рюкзак.png', 'profit__image-img')
      .profit__info
        .profit__info-base
          h2.base__title.profit__title Чем я могу быть полезен вам
          p.base__text.profit__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .profit__skills
          include ./skills.pug
          +skills('Front-end', ['HTML5', 'CSS3', 'Javascript', 'JQuery и Vue.js'], 25)
          +skills('Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack'], 50)
          