script(type="text/x-template")#slider-container
  .works-slider
    display(
      :works="works",
      :currentWork="currentWork",
      :currentIndex="currentIndex"
      @slide="handleSlide"
    )
    info(
      :currentWork="currentWork"
    )

script(type="text/x-template")#slider-display
  .works-slider__pics(:data-slide="currentIndex + 1")
    .works-slider__pics-content
      .works-slider__fullpic-container
        img(:src="currentWork.photo").works-slider__fullpic
        btns(
          @slide="direction => $emit('slide', direction)"
        )
        thumbs(
          :works="reversedWorks"
          :currentWork="currentWork"
        )

script(type="text/x-template")#slider-btns
  .works-slider__buttons
    a(href="#" @click.prevent="$emit('slide', 'next')").works-slider__btn.works-slider__btn_next
    a(href="#" @click.prevent="$emit('slide', 'prev')").works-slider__btn.works-slider__btn_prev

script(type="text/x-template")#slider-thumbs
  ul.works-slider__thumbs
    li.works-slider__thumb-item(
      v-for="work in works" :key="work.id"
      :class="{active: currentWork.id === work.id }"
    )
      a.works-slider__thumb-link
        img(:src="work.photo" alt="").works-slider__thumb

script(type="text/x-template")#slider-info
  .works-slider__data
    tags(
      :tagsArray="tagsArray"
    )
    .works-slider__title {{currentWork.title}}
    .works-slider__desc
      p {{currentWork.desc}}
    .works-slider__link 
      a(:href="currentWork.link").iconed-link
        +icon('link', 'tag-link-pic')    
        span Посмотреть сайт

script(type="text/x-template")#slider-tags
  ul.works-slider__tags
    li.works-slider__tag-item(v-for="tag in tagsArray")
      .tag {{tag}}
  
  //- 
    .portfolio__slider-block
      .portfolio__slider
        .portfolio__slider-items
          ul.portfolio__list
            li.portfolio__item
                +image('content/item1.png', 'portfolio__item-pic')
            li.portfolio__item
                +image('content/item2.png', 'portfolio__item-pic')
            li.portfolio__item
                +image('content/item3.png', 'portfolio__item-pic')
            li.portfolio__item.portfolio__item--active
                +image('content/item4.png', 'portfolio__item-pic')
        .portfolio__slider-but
          include ./buttons
          +buttons('portfolio')
      .portfolio__item-numb 4
    .portfolio__info
      ul.portfolio__tags
        each item in ["HTML", "CSS", "Javascript"]
          li.portfolio__tags-item=item
      h3.base__title.portfolio__info-title Сайт школы образования
      p.base__text.portfolio__info-text Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
      a(href='#').portfolio__info-link 
        +icon('link', 'portfolio__info-link-pic')      
        span Посмотреть сайт